<web-app>
  <display-name>Lab8</display-name>
  <welcome-file-list>
    <welcome-file>test.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>test</servlet-name>
  <servlet-class>com.jlcindia.servlets.TestServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>header</servlet-name>
  <servlet-class>com.jlcindia.servlets.HeaderServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>hello</servlet-name>
  <servlet-class>com.jlcindia.servlets.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>test</servlet-name>
  <url-pattern>/test.jlc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>hello</servlet-name>
  <url-pattern>/hello.jlc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>header</servlet-name>
  <url-pattern>/header.jlc</url-pattern>
  </servlet-mapping>
</web-app>