<web-app><!--  
  <display-name>Lab7</display-name> -->
  <servlet>
  <servlet-name>demo</servlet-name>
  <servlet-class>com.jlcindia.servlets.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>demo</servlet-name>
  <url-pattern>/demo.jlc</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>demo.html</welcome-file>
  </welcome-file-list>
</web-app>